<div class="row">
    <ul class="jeuxvideo">
      <div class="col-md-5 " *ngFor="let jeux of jeuxvideo"
        [class.selected]="jeux === selectJeux"
        (click)="onSelect(jeux)">
        <button class="thumbnail">
          <img src={{jeux.img_profil}}>
          <a><h3>{{jeux.nom}}</h3></a>
          <p>{{jeux.info}}</p>
          <h6 class="alert alert-warning">{{jeux.prix}} <span class="glyphicon glyphicon-euro"></span></h6>
          <hr/>
        </button>
    </div>
  </ul>
</div>
<app-inforamtique-produit-detail [ordi]="selectJeux"></app-inforamtique-produit-detail>